
<form action="/decks" method="get">
  <label for="email">Email:<label>
  <input type="text" name="email"/>
  <br>

  <label for="password">Password:<label>
  <input type="text" name="password"/>
  <br>

  <input type="submit" value="Login">
</form>

<form action="/register" method="post">
  <label for="full_name">full name:<label>
  <input type="text" name="full_name"/>
  <br>

  <label for="email">email:<label>
  <input type="text" name="email"/>
  <br>

  <label for="password">password:<label>
  <input type="text" name="password"/>
  <br>

  <input type="submit" value="Register">
</form>
